[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = "*"
twine = "*"
spacy = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
ipython = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
spacy = "*"

[requires]
python_version = "3.7"
